<div class="p-grid p-justify-end search-title-row">
  <div class="p-col content-end">
    <div class="search-field">
      <!-- <ng-select placeholder="{{ 'Manager' | translate }}" [formControl]="managerFilter" [clearable]="false">
        <ng-option value="">
          {{ 'AllM' | translate }}
        </ng-option>
        <ng-option *ngFor="let manager of managerFilterList" [value]="manager?._id">
          {{ manager?.civility | translate }} {{ manager?.last_name }} {{ manager?.first_name }}
        </ng-option>
      </ng-select> -->
      <mat-form-field color="accent">
        <input
          type="text"
          matInput
          placeholder="{{ 'Manager' | translate }}"
          [formControl]="managerFilter"
          [matAutocomplete]="autoManager"
        />
        <mat-autocomplete #autoManager="matAutocomplete" [panelWidth]="'fit'">
          <!-- <mat-option value="All"(click)="setManagerFilter(null)">{{ 'All' | translate }}</mat-option> -->
          <mat-option *ngFor="let manager of filteredManager | async" [value]="manager?.name" (click)="setManagerFilter(manager?.id)">
            {{ manager?.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="search-field">
      <mat-form-field class="full-width">
        <input matInput placeholder="{{ 'search' | translate }}" [formControl]="searchForm" />
      </mat-form-field>
    </div>
    <div class="search-btn">
      <button mat-raised-button color="primary" (click)="resetSearch()">{{ 'All Titles' | translate }}</button>
    </div>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-12">
    <div style="width: 100%">
      <mat-tab-group
        animationDuration="500ms"
        [selectedIndex]="tabIndex"
        (selectedTabChange)="filterTitleByCertifier($event.tab.textLabel, $event.index)"
      >
        <mat-tab label="{{ 'All' | translate }}">
          <ng-template matTabContent>
            <ms-title-rncp-card [parentSource]="'title_rncp_manager'" [filteredTitles]="filteredTitles"></ms-title-rncp-card>
          </ng-template>
        </mat-tab>
        <ng-container *ngIf="listOfCertifier && listOfCertifier.length">
          <ng-container *ngFor="let certifier of listOfCertifier">
            <mat-tab label="{{ certifier }}">
              <ng-template matTabContent>
                <ms-title-rncp-card [parentSource]="'title_rncp_manager'" [filteredTitles]="filteredTitles"></ms-title-rncp-card>
              </ng-template>
            </mat-tab>
          </ng-container>
        </ng-container>
      </mat-tab-group>
    </div>
  </div>
</div>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
