.certification-container {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  padding: 8px;
}

.section-header {
  background-color: #363636;
  margin-top: -26px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.certification-tabs{
  width: 100%;
}

:host::ng-deep.mat-tab-group .mat-tab-header {
  margin-left: 6px;
}
