@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.mat-form-field {
  padding-left: 0.5rem !important;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}

.form-field {
  margin-top: 6px;
}
:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      padding-left: 0.3rem !important;
      padding-right: 0.3rem !important;
      &:nth-child(1) {
        text-align: center;
        width: 3%;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(2) {
        width: 8%;
        .mat-form-field {
          padding-left: 0.3rem !important;
          padding-right: 0.3rem !important;
          width: 90%;
        }
      }

      &:nth-child(3) {
        width: 8rem;
        .mat-form-field {
          padding-left: 0.3rem !important;
          padding-right: 0.3rem !important;
          width: 90%;
        }
      }

      &:nth-child(4) {
        width: 8%;
        .mat-form-field {
          padding-left: 0.3rem !important;
          padding-right: 0.3rem !important;
          width: 90%;
        }
      }

      &:nth-child(5) {
        width: 8%;
        .mat-form-field {
          padding-left: 0.3rem !important;
          padding-right: 0.3rem !important;
          width: 90%;
        }
      }

      &:nth-child(6) {
        width: 8%;
        .mat-form-field {
          padding-left: 0.3rem !important;
          padding-right: 0.3rem !important;
          width: 90%;
        }
      }

      &:nth-child(7) {
        width: 8%;
        text-align: center;
        .mat-form-field {
          padding-left: 0.3rem !important;
          padding-right: 0.3rem !important;
          width: 90%;
        }
      }

      &:nth-child(8) {
        text-align: center;
        width: auto;
        .mat-form-field {
          padding-left: 0.3rem !important;
          padding-right: 0.3rem !important;
          width: 90%;
        }
      }

      &:nth-child(9) {
        text-align: center;
        width: 12%;
        .mat-form-field {
          padding-left: 0.3rem !important;
          padding-right: 0.3rem !important;
          width: 90%;
        }
      }

      &:nth-child(10) {
        text-align: center;
        width: 12%;
        .mat-form-field {
          padding-left: 0.3rem !important;
          padding-right: 0.3rem !important;
          width: 90%;
        }
      }

      &:nth-child(11) {
        text-align: center;
        width: 12%;
        .mat-form-field {
          padding-left: 0.3rem !important;
          padding-right: 0.3rem !important;
          width: 90%;
        }
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      color: black;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      text-align: center;

      .mat-form-field-infix {
        width: unset !important;
      }
    }
    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}

:host ::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em;
}

.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  text-align: right !important;
  .p-grid {
    margin-top: unset !important;
  }
}

.row-style {
  margin-top: 2px;
  float: right;
}

.alignment {
  vertical-align: top;
}

.align {
  vertical-align: text-top;
}

.top-date-picker {
  width: 120px !important;
  margin-right: 1rem !important;
  margin-top: 5px !important;
}
