<div class="header-div" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <mat-icon svgIcon="file-upload"></mat-icon>
  <h2 class="header-text">
    {{ 'CARDLIST.Import Companies' | translate }}
  </h2>
  <button mat-icon-button type="button" (click)="closeDialog()" class="header-icon">
    <mat-icon>close</mat-icon>
  </button>
</div>
<hr />

<div class="pad-x-md pad-t-md" [formGroup]="importForm">
  <div class="p-grid">
    <div class="p-col-12">
      <!-- <span class="text_import">{{ 'IMPORT_STUDENT_COMPANY_TEXT_1' | translate }}</span> <br>
      <span class="text_import">{{ 'IMPORT_STUDENT_COMPANY_TEXT_2' | translate }}</span> <br> -->
      <span class="text_import">{{ 'IMPORT_STUDENT_COMPANY_TEXT_3' | translate }}</span> <br>
      <span class="text_import">{{ 'IMPORT_STUDENT_COMPANY_TEXT_4' | translate }}</span> <br>
      <span class="text_import">{{ 'IMPORT_STUDENT_COMPANY_TEXT_5' | translate }}</span> 
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12" style="float: left;">
      <div class="p-grid">
        <div class="p-col-9" style="padding: 0.5em 0px; float: left;">
          <ng-container *ngIf="file?.name; else defaultText">
            <span>{{ file?.name }}</span>
          </ng-container>
          <ng-template #defaultText>
            <label >{{ 'TRANSCRIPT_PROCESS.DATA_FILE' | translate }}</label>
          </ng-template>
        </div>
        <!-- <div class="p-col-6" style="padding: 0.5em 0px; float: left;">
          <span>{{ file?.name }}</span>
        </div> -->
        <div class="p-col-3" style="padding: 0px; float: left; text-align: right;">
          <input
            #importFile
            style="display: none;"
            type="file"
            accept=".csv, .tsv"
            disableMultipart="true"
            (change)="handleInputChange($event)"
          />
          <button
            [disabled]="importForm.invalid || isWaitingForResponse"
            mat-raised-button
            color="accent"
            (click)="openUploadWindow()"
            class="margin-right-0"
          >
            <mat-icon class="mat-icon-default">add</mat-icon>
            {{ 'TRANSCRIPT_PROCESS.FILE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-form" fxLayout="row" fxLayoutAlign="end center">
  <div>
    <button mat-raised-button color="warn" type="button" (click)="closeDialog()">
      {{ 'Cancel' | translate }}
    </button>
  </div>
  <div>
    <button mat-raised-button color="primary" type="button" (click)="submit()" [disabled]="!importForm.valid || !file">
      {{ 'Save' | translate }}
    </button>
  </div>
</div>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>