.progress-text {
  padding: 0px;
  text-align: center;
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

.padding-none {
  padding: 0px !important;
}
.inner-loading-indicator-transparent-bg {
  background-color: #1d1d1d75;
}