@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.form-field {
  margin-top: 6px;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}

:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      padding-left: 0.5rem !important;
      box-shadow: -1px 0px 0px 0px $grey inset;
      -webkit-box-shadow: -1px 0px 0px 0px $grey inset;
      -moz-box-shadow: -1px 0px 0px 0px $grey inset;
      min-width: 50px;

      .mat-form-field {
        width: 80%;
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      text-align: center;

      .mat-form-field-infix {
        width: unset !important;
      }
    }
    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.mat-column-action {
  width: 13%;
  min-width: 115px !important;
  text-align: center;
  padding: 0;
}

.mat-column-check {
  width: 1%;
  min-width: 115px !important;
  text-align: center;
  padding: 0;
}

.mat-column-student {
  width: 15%;
  min-width: 150px !important;
}

.mat-column-school {
  width: 15%;
  min-width: 150px !important;
}

.mat-column-date {
  width: 8%;
  min-width: 120px;
  box-shadow: 1px 0px 0px 0px $grey inset, -1px 0px 0px 0px $grey inset;
}

.mat-colum-dateFilter {
  box-shadow: 1px 0px 0px 0px $grey inset;
}

.mat-column-time {
  width: 8% !important;
}

.mat-column-corrected {
  width: 15% !important;
}

.mat-column-status {
  width: 8% !important;
  text-align: center;
}

.mat-column-B1,
.mat-column-B2,
.mat-column-B3,
.mat-column-B4,
.mat-column-B5,
.mat-column-B6 {
  width: 5% !important;
  text-align: center;
}

.action-header-column {
  justify-content: space-between;
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}

.horizontal {
  overflow: auto;
}

.icon-hand {
  cursor: pointer;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

.center-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host::ng-deep.ng-select {
  margin-bottom: 16px;
}
:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  color: #fff;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid #bdbdbd !important;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
  width: 90%;
  margin-top: 10px;
  margin-left: 5px;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  padding-left: 0px !important;
  width: 100%;
}
:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-left: 0px !important;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container {
  padding-left: 0px !important;
}
:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  font-size: 14px !important;
}
.ng-select-custom-header {
  cursor: pointer;
}
:host::ng-deep.ng-select .ng-dropdown-panel {
  width: 230px !important;
  max-width: 230px;
  text-align: left !important;
  font-size: 15px !important;
}
::ng-deep ng-dropdown-panel,
.ng-dropdown-panel {
  width: 250px !important;
  min-width: 250px !important;
  text-align: left !important;
  font-size: 15px !important;
}

.red {
  color: #ff4a4a;
}
.green {
  color: #adff2f;
}
::ng-deep.filterPanel{
  margin-top: 25px;
}