<div class="p-grid">
    <div class="p-col">
        <button mat-button mat-raised-button color="yellow" class="button-action-button">
            {{ 'CONTINUE' | translate }}
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
    <div class="p-col">
        <button mat-button mat-raised-button color="yellow" class="button-action-button">
            <mat-icon>save</mat-icon>
            {{ 'SAVE & LEAVE' | translate }}
        </button>
        <button mat-button mat-raised-button color="green" class="button-action-button">
            <mat-icon>cancel</mat-icon>
            {{ 'CANCEL' | translate }}
        </button>
        <button mat-button mat-raised-button color="yellow" class="button-action-button">
            NOT PUBLISHED
        </button>
    </div>
</div>
