.green-icon {
  font-size: 25px;
  width: 30px;
  color: #adff2f;
}
.red-icon {
  font-size: 25px;
  width: 30px;
  color: #ff4040;
}
.black-icon {
  font-size: 25px;
  width: 30px;
  color: #000000;
}

.student-data {
  flex: auto;
  padding-bottom: 12px;
}