.dialogTitle {
  display: inline-block;
}
.dialogTitleWrapper {
  color: black;
}
.dialog-border {
  border-bottom: 1px solid black;
}
.no-padding {
  padding: 0px;
}
.float-right {
  float: right;
}
.mt-15 {
  margin-top: 15px;
}
.mr-0 {
  margin-right: 0px;
}
.mr-10 {
  margin-right: 10px;
}
.header-dialog {
  margin-top: 15px;
  padding: 0 5px 0 15px;
}
.mat-dialog-content {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 15px;
}
.w-30 {
  width: 30px;
}
.w-65 {
  width: 65px;
}
.mt-5px {
  margin-top: 5px;
}
.pad-l-20px {
  padding-left: 20px;
}
p {
  margin-bottom: 0px !important;
}

:host ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  white-space: normal !important;
}
// .ng-invalid.ng-touched {
//   border: 1px solid red;
// }
// .invalid-feedback {
//   color: red;
// }
