<div class="header-div">
    <mat-icon svgIcon="account-question"></mat-icon>
    <h2 class="header-text" *ngIf="taskData?.jury_id?.type === 'grand_oral'">
      {{juryProcessName ? ('Grand_Oral_Improvement.Assign Grand Oral Corrector' | translate : {processName : juryProcessName}) 
                : ('ASSIGN_CORRECTOR_DIALOG.Assign Jury Corrector' | translate)}}
    </h2>
    <h2 class="header-text" *ngIf="taskData?.jury_id?.type === 'retake_grand_oral'">
      {{juryProcessName ? ('Grand_Oral_Improvement.Assign Retake Grand Oral Corrector' | translate : {processName : juryProcessName}) 
                : ('ASSIGN_CORRECTOR_DIALOG.Assign Retake Corrector' | translate)}}
    </h2>
    <button mat-icon-button type="button" (click)="closeDialog()" class="header-icon">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <hr/>
  
  <form [formGroup]="assignCorrrectorForm" class="header-form">
    <div fxLayout="row">
      <div fxFlex fxLayout="column" >
        <div fxFlex>
          <div fxLayout="row wrap" fxLayoutAlign="start start" >
            <div fxFlex="35">
              <b>{{'ASSIGN_CORRECTOR_DIALOG.TITLE_RNCP' | translate}} </b>
            </div>
            <div fxFlex="5">
              <b>:</b>
            </div>
            <div fxFlex="60">
              {{ taskData?.rncp?.long_name }}
            </div>
          </div>
        </div>
        <div fxFlex>
          <div fxLayout="row wrap" fxLayoutAlign="start start" >
            <div fxFlex="35">
              <b>{{'ASSIGN_CORRECTOR_DIALOG.CLASS' | translate}} </b>
            </div>
            <div fxFlex="5">
              <b>:</b>
            </div>
            <div fxFlex="60">
              {{ taskData?.class_id?.name }}
            </div>
          </div>
        </div>
        <div fxFlex>
          <div fxLayout="row wrap" fxLayoutAlign="start start" >
            <div fxFlex="35">
              <b *ngIf="taskData?.jury_id?.type === 'grand_oral'">
                {{juryProcessName ? ('Grand_Oral_Improvement.Grand Oral' | translate : {processName : juryProcessName}) 
                : ('Grand Oral' | translate)}}
              </b>
              <b *ngIf="taskData?.jury_id?.type === 'retake_grand_oral'">
                {{ juryProcessName ? ('Grand_Oral_Improvement.Retake Grand Oral' | translate : {processName : juryProcessName}) 
                : ('Retake Grand Oral' | translate)}} 
              </b>
            </div>
            <div fxFlex="5">
              <b>:</b>
            </div>
            <div fxFlex="60">
              {{ taskData?.jury_id?.name }}
            </div>
          </div>
        </div>
        <div fxFlex>
          <div fxLayout="row wrap" fxLayoutAlign="start start" >
            <div fxFlex="35">
              <b>{{'ASSIGN_CORRECTOR_DIALOG.TOTAL_STUDENT' | translate}} </b>
            </div>
            <div fxFlex="5">
              <b>:</b>
            </div>
            <div fxFlex="60">
              {{ studentCount }}
            </div>
          </div>
        </div>
  
        <div *ngIf="isGroupTest && !isRetakeTest" fxFlex>
          <div fxLayout="row wrap" fxLayoutAlign="start start" >
            <div fxFlex="35">
              <b>{{'ASSIGN_CORRECTOR_DIALOG.TOTAL_GROUP' | translate}} </b>
            </div>
            <div fxFlex="5">
              <b>:</b>
            </div>
            <div fxFlex="60">
              {{ studentCount }}
            </div>
          </div>
        </div>
  
        <div fxFlex class="pad-t-md">
          <div fxLayout="row wrap" fxLayoutAlign="start start" >
            <div fxFlex="100">
              <b> 
                {{juryProcessName ? ('Grand_Oral_Improvement.TEXT_1_JURY' | translate : {processName : juryProcessName}) 
                : ('ASSIGN_CORRECTOR_DIALOG.TEXT_1_JURY' | translate)}}
              </b> 
            </div>
          </div>
        </div>
  
        <ng-container *ngIf="!isWaitingForUserList">
          <!-- if user to select exist -->
          <div *ngIf="userCorrectorList?.length" fxFlex class="pad-t-md">
            <div fxLayout="row wrap" fxLayoutAlign="center start" >
              <div fxFlex="100">
                <div class="px-1 select-input-container">
                  <mat-form-field>
                    <mat-select
                      #corrector
                      color="accent"
                      [placeholder]="'ASSIGN_CORRECTOR_DIALOG.ASSIGN_CORRECTOR' | translate"
                      formControlName="correctors_id"
                      style="margin-bottom: -1.4em;"
                      multiple
                      (selectionChange)="selectCorrectors($event)"
                      [disableOptionCentering]="true"
                      panelClass="filterPanel"
                    >
                      <div class="select-all">
                        <mat-checkbox
                          color="primary"
                          [(ngModel)]="allSelected"
                          [ngModelOptions]="{standalone: true}"
                          (change)="toggleAllSelection()"
                        >{{ 'AllM' | translate }}
                        </mat-checkbox>
                      </div>
                      <mat-option *ngFor="let user of userCorrectorList" [value]="user._id" (click)="optionClick()">
                        {{user?.last_name }} {{ user?.first_name }} {{ user?.civility | translate }} 
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="assignCorrrectorForm.get('correctors_id').errors">{{'This field is required'|translate}}</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
  
          <!-- if user doesn't exist -->
          <div *ngIf="!userCorrectorList?.length" fxFlex class="pad-t-md">
            <div fxLayout="row wrap" fxLayoutAlign="start start" >
              <div fxFlex="100">
                {{'ASSIGN_CORRECTOR_DIALOG.SCHOOL_0_CORRECTOR' | translate}}
              </div>
            </div>
          </div>
        </ng-container>
  
        <!-- Inly display and validate corrector more than student if its not retake test. Retake test does not need to select student -->
        <ng-container *ngIf="!isRetakeTest">
          <ng-container>
            <!-- if only select 1 user -->
            <ng-container *ngIf="assignCorrrectorForm.get('correctors_id').value && (assignCorrrectorForm.get('correctors_id').value).length === 1">
              <div fxFlex>
                <div fxLayout="row wrap" fxLayoutAlign="start start" >
                  <div fxFlex="100">
                    <b><span [innerHTML]="getTranslatedTextOneCorrector()"></span></b>
                  </div>
                </div>
              </div>
            </ng-container>
  
            <ng-container *ngIf="assignCorrrectorForm.get('correctors_id').value && (assignCorrrectorForm.get('correctors_id').value).length > 1">
              <div fxFlex>
                <div fxLayout="row" fxLayoutAlign="start start" >
                  <div fxFlex="100" class="preview-overflow">
                    <span class="mrgn-b-xs">
                      <b>
                        {{juryProcessName ? ('Grand_Oral_Improvement.SCHOOL_MANY_CORRECTOR_HEAD_JURY' | translate : {processName : juryProcessName}) 
                        : ('ASSIGN_CORRECTOR_DIALOG.SCHOOL_MANY_CORRECTOR_HEAD_JURY' | translate)}}
                      </b></span>
                    <ng-container *ngIf="correctorAssigned && correctorAssigned.length">
                      <div fxLayout="row wrap" fxLayoutAlign="start start" *ngFor="let corrector of correctorAssigned">
                        <div fxFlex="35">
                          <b> {{ getDisplayCorrectorSelected(corrector) }} </b>
                        </div>
                      </div>
                    </ng-container>
                    <span class="mrgn-t-xs"><b>{{'ASSIGN_CORRECTOR_DIALOG.SCHOOL_MANY_CORRECTOR_FOOT' | translate}}</b></span>
                  </div>
                </div>
              </div>
            </ng-container>
  
            
          </ng-container>
  
        </ng-container>
        
  
      </div>  
    </div>  
  </form>
  
  <div class="footer-form" fxLayout="row" fxLayoutAlign="end center">
    <div>
      <button mat-raised-button color="warn" type="button" (click)="closeDialog()">
        {{ 'ASSIGN_CORRECTOR_DIALOG.CANCEL' | translate }}
      </button>
    </div>
    <div>
      <button
        [disabled]="!assignCorrrectorForm.valid || !formChanged"
        mat-raised-button
        color="primary"
        (click)="saveAssignedCorrector()"
        type="button"
      >
        {{ 'ASSIGN_CORRECTOR_DIALOG.SUBMIT' | translate }}
      </button>
    </div>
  </div>
  
  <div *ngIf="isWaitingForResponse" class="loading-indicator">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
