<mat-card class="position-card pad-top-7">
  <div class="p-grid">
    <div class="p-col-3" style="padding-top: 10px; width: 20% !important">
      <mat-form-field>
        <input
          matInput
          class="form-field"
          [formControl]="schoolSuperFilter"
          [matAutocomplete]="schoolSuperFilterAuto"
          placeholder="{{ 'Select School' | translate }}"
        />
        <mat-autocomplete #schoolSuperFilterAuto="matAutocomplete" [panelWidth]="'fit'">
          <mat-option [value]="'All' | translate" (click)="setSchoolFilter(null)">{{ 'All' | translate }}</mat-option>
          <mat-option *ngFor="let school of filteredSchools | async" [value]="school?.short_name" (click)="setSchoolFilter(school?._id)">{{
            school?.short_name
          }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="p-col-3" style="padding-top: 10px; width: 25% !important">
      <mat-form-field>
        <input
          matInput
          class="form-field"
          [formControl]="typeGenerationFilter"
          [matAutocomplete]="typeGenerationFilterAuto"
          placeholder="{{ 'ACAD_169.Select Type Generation' | translate }}"
        />
        <mat-autocomplete #typeGenerationFilterAuto="matAutocomplete" [panelWidth]="'fit'">
          <mat-option
            (click)="setTypeFilter(type.value)"
            *ngFor="let type of filteredTypeGenertions | async"
            [value]="'ACAD_169.' + type.name | translate"
            >{{ 'ACAD_169.' + type.name | translate }}</mat-option
          >
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="p-col-3" style="padding-top: 10px; width: 25% !important" *ngIf="typeSuperFilterValue === 'pass_after_retake'">
      <mat-form-field>
        <mat-label> {{ 'detail_of_certification.student_detail.date_issuance' | translate }} </mat-label>
        <mat-select
          class="form-field"
          *ngIf="dateOfIssuanceList?.length > 0"
          [formControl]="dateOfIssuanceFilter"
          [disableOptionCentering]="true"
          panelClass="filterPanel"
        >
          <mat-option *ngFor="let date of dateOfIssuanceList" [value]="date" (click)="setDateFilter(date)">
            {{ date }}
          </mat-option>
        </mat-select>
        <mat-select
          class="form-field"
          *ngIf="dateOfIssuanceList?.length === 0"
          [formControl]="dateOfIssuanceFilter"
          [disableOptionCentering]="true"
          panelClass="filterPanel"
        >
          <mat-option disabled>
            {{ 'NOT RECORD FOUND' | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-card>

<div class="p-grid" [ngClass]="{ 'hide-table': typeSuperFilterValue === 'pass_after_retake' && !dateOfIssuanceFilter?.value }">
  <div class="p-col-12">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
      <ng-container matColumnDef="reset">
        <th mat-header-cell *matHeaderCellDef colspan="100%" class="action-header-column text-right">
          <div class="p-grid">
            <div class="p-col-12 no-padding text-right">
              <button matTooltip="{{ 'RESET' | translate }}" mat-raised-button color="primary" (click)="onReset()">
                <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
                {{ 'RESET' | translate }}
              </button>
              <button
                [disabled]="
                  !selection.hasValue() || studentDocument <= 0 || isWaitingForResponse || this.dataUnselect.length === studentDocument
                "
                mat-raised-button
                matTooltip="{{ 'Generate XML file' | translate }}"
                color="accent"
                (click)="generateXMLData()"
              >
                <mat-icon class="mat-icon-default">add</mat-icon>
                {{ 'Generate XML file' | translate }}
              </button>
              <!-- <button mat-raised-button matTooltip="{{ 'Generate XML file' | translate }}" color="accent" (click)="generateXMLFile()">
                    <mat-icon class="mat-icon-default">add</mat-icon>
                    {{ 'Generate XML file' | translate }}
                  </button> -->

              <!-- <button mat-raised-button matTooltip="{{ 'Generate XML file' | translate }}" color="accent" (click)="csvTypeSelectionUpload()">
                    <mat-icon class="mat-icon-default">add</mat-icon>
                    {{ 'Generate XML file' | translate }}
                  </button> -->
            </div>
          </div>
        </th>
      </ng-container>

      <!-- filter section -->
      <ng-container matColumnDef="selectFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="nameStudentFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="nameStudentFilter" placeholder="{{ 'search' | translate }}" />
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="schoolFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input
              matInput
              class="form-field"
              [formControl]="schoolFilter"
              [matAutocomplete]="schoolFilterAuto"
              placeholder="{{ 'Select School' | translate }}"
            />
            <mat-autocomplete #schoolFilterAuto="matAutocomplete" [panelWidth]="'fit'">
              <mat-option [value]="'All' | translate" (click)="setSchoolFilterTable(null)">{{ 'All' | translate }}</mat-option>
              <mat-option
                *ngFor="let school of filteredSchoolsTable | async"
                [value]="school?.short_name"
                (click)="setSchoolFilterTable(school?._id)"
                >{{ school?.short_name }}</mat-option
              >
            </mat-autocomplete>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="decisionFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input
              matInput
              class="form-field"
              [formControl]="decisionFilter"
              [matAutocomplete]="decisionFilterAuto"
              placeholder="{{ 'ACAD_169.Select Decision' | translate }}"
            />
            <mat-autocomplete #decisionFilterAuto="matAutocomplete" [panelWidth]="'fit'">
              <mat-option [value]="'All' | translate" (click)="setDecisionFilter(null)">{{ 'All' | translate }}</mat-option>
              <mat-option
                (click)="setDecisionFilter(type.value)"
                *ngFor="let type of filteredDecision | async"
                [value]="'ACAD_169.' + type.name | translate"
                >{{ 'ACAD_169.' + type.name | translate }}</mat-option
              >
            </mat-autocomplete>
          </mat-form-field>
        </th>
      </ng-container>

      <!-- column header and value -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            (change)="showOptions('all', '')"
            [checked]="(selection.hasValue() && isAllSelected()) || isCheckedAll"
            [indeterminate]="(selection.hasValue() && !isAllSelected()) || (checkBoxInfo === 'one' && !isAllStudent)"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="text-center">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row?.student_id?._id) : null"
            [checked]="selection.isSelected(row?.student_id?._id) || (isCheckedAll && !dataUnselect.includes(row?.student_id?._id))"
            (change)="showOptions('one', row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="nameStudent">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Name' | translate }}">
          <h5 mat-sort-header="student">{{ 'Name' | translate }}</h5>
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          matTooltip="{{ element?.student_id?.last_name | uppercase }} {{ element?.student_id?.first_name }} {{
            element?.student_id?.civility | translate
          }}"
        >
          {{ element?.student_id?.last_name | uppercase }} {{ element?.student_id?.first_name }}
          {{ element?.student_id?.civility | translate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="school">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'School' | translate }}">
          <h5 mat-sort-header="school">{{ 'School' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.school_id?.short_name }}">
          {{ element?.school_id?.short_name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="decision">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'ACAD_169.Decision' | translate }}">
          <h5 mat-sort-header="decision_transcript">{{ 'ACAD_169.Decision' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ getStudentDecission(element) }}">
          {{ getStudentDecission(element) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="loading">
        <th mat-header-cell *matHeaderCellDef colspan="100%" class="text-center">
          <div class="center-spinner">
            <mat-spinner color="accent"></mat-spinner>
          </div>
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['reset']"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForResponse"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isWaitingForResponse"></tr>
    </table>
    <div *ngIf="(noData | async) && !isWaitingForResponse" class="no-records">
      {{ 'NOT RECORD FOUND' | translate }}
    </div>
    <div [ngClass]="{ hide: noData | async }">
      <mat-paginator
        [ngClass]="{ 'hide-pagination-buttons': studentDocument <= 10 }"
        [length]="studentDocument"
        [hidePageSize]="true"
        [pageSize]="[10]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>

<div *ngIf="isWaitingTopForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
