@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.form-field {
  margin-top: 6px;
}

:host ::ng-deep table {
  tr {

    td,
    th {
      border-right: 1px solid $grey;
      &:nth-child(1) {
        width: 5%;
        padding-left: 0 !important;
      }

      &:nth-child(2) {
        width: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        .mat-form-field {
          width: 98%;
        }
      }

      &:nth-child(3) {
        width: 30%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(4) {
        width: 25%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        .mat-form-field {
          width: 90%;
        }
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      text-align: center;

      .mat-form-field-infix {
        width: unset;
      }
    }

    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;

      th {
        color: $white;
      }
    }
  }
}

.red-icon {
  color: red;
}

.green-icon {
  color: green;
}

.pad-top-miss {
  padding-top: 5px;
}

.action-header-column {
  vertical-align: middle;
  padding-right: 0 !important;
  text-align: right;

  .p-grid {
    margin-top: unset;
  }
}

.left-margin {
  margin-left: 3%;
}

:host ::ng-deep .swal2-checkbox label,
.swal2-radio label {
  font-size: 1em;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}


.align-right {
  text-align: right;
}

.inline-flex {
  display: inline-flex;
}

.position-card {
  padding-bottom: 0px !important;
  height: 90px;
  margin-left: 13px !important;
  margin-right: 7px !important;
  margin-top:  1rem !important;
}
.mat-icon-svgIcon {
  width: 14px !important;
  height: 16px !important;
  margin-top: -10px !important;
  margin-right: 2px !important;
}
.mat-icon-default {
    font-size: 14px !important;
    margin-top: -2px !important;
    width: auto !important;
}
.mrgn-top-7 {
  margin-top: 7.7px !important;
}
.pad-top-7 {
  padding-top: 7px !important;
}

::ng-deep.filterPanel {
  margin-top: 25px !important;
}
.hide-table{
  display: none;
}