@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.mat-form-field {
  padding-left: 0.5rem !important;
}

.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  text-align: right !important;
  .p-grid {
    margin-top: unset !important;
  }
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}

.form-field {
  margin-top: 6px;
}

.mat-column-selectFilter,
.mat-column-select {
  text-align: center;
  width: 4%;
  .mat-form-field {
    padding: 0px 10px 0px 10px !important;
    width: 100%;
  }
}
.mat-column-schoolFilter,
.mat-column-school {
  width: 20%;
  .mat-form-field {
    padding: 0px 10px 0px 10px !important;
    width: 100%;
  }
}
.mat-column-studentFilter,
.mat-column-student {
  width: auto;
  min-width: 200px;
  .mat-form-field {
    padding: 0px 10px 0px 10px !important;
    width: 100%;
  }
}
.mat-column-statusFilter,
.mat-column-status {
  text-align: center;
  min-width: 40px !important;    
  padding-top: 8px;
  .mat-form-field {
    padding: 0px 10px 0px 10px !important;
    width: 100%;
  }
}
.mat-column-actionFilter,
.mat-column-action {
  text-align: center;
  min-width: 80px !important;
  .mat-form-field {
    padding: 0px 10px 0px 10px !important;
    width: 100%;
  }
}

:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      padding-left: 0.3rem !important;
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      color: black;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      text-align: center;

      .mat-form-field-infix {
        width: unset !important;
      }
    }

    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

.yellow {
  color: #ffd740;
}
.orange {
  color: #f49f36;
}
.blue {
  color: #36ebf4;
}
.red {
  color: #ff4040;
}
.green {
  color: #adff2f;
}
.purple {
  color: #ff46f9;
}
.green-icon {
  font-size: 25px;
  width: 30px;
  color: #adff2f;
}
.red-icon {
  font-size: 25px;
  width: 30px;
  color: #ff4040;
}
.black-icon {
  font-size: 25px;
  width: 30px;
  color: #000000;
}