@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.mat-form-field {
  padding-left: 0.5rem !important;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0;
}

.form-field {
  margin-top: 6px;
}

.mat-column-selectFilter,
.mat-column-select {
  text-align: center;
  width: 3%;
  .mat-form-field {
    padding: 0 10px 0 10px !important;
    width: 100%;
  }
}
.mat-column-schoolFilter,
.mat-column-school {
  text-align: center;
  width: 10%;
  .mat-form-field {
    padding: 0 10px 0 10px !important;
    width: 100%;
  }
}
.mat-column-rncpTitlesFilter,
.mat-column-rncpTitles {
  text-align: center;
  width: 10%;
  .mat-form-field {
    padding: 0 10px 0 10px !important;
    width: 100%;
  }
}
.mat-column-lastNameFilter,
.mat-column-lastName {
  text-align: left;
  width: auto;
  min-width: 200px;
  .mat-form-field {
    padding: 0 10px 0 10px !important;
    width: 100%;
  }
}
.mat-column-regionFilter,
.mat-column-region {
  text-align: center;
  width: 10%;
  .mat-form-field {
    padding: 0 10px 0 10px !important;
    width: 100%;
  }
}
.mat-column-dateFilter,
.mat-column-date {
  text-align: center;
  width: 8%;
  .mat-form-field {
    padding: 0 10px 0 10px !important;
    width: 100%;
  }
}
.mat-column-startFilter,
.mat-column-start {
  text-align: center;
  width: 10%;
  .mat-form-field {
    padding: 0 10px 0 10px !important;
    width: 100%;
  }
}
.mat-column-presidentJuryFilter,
.mat-column-presidentJury {
  text-align: center;
  width: 10%;
  .mat-form-field {
    padding: 0 10px 0 10px !important;
    width: 100%;
  }
}
.mat-column-professionalJuryFilter,
.mat-column-professionalJury {
  text-align: center;
  width: 10%;
  .mat-form-field {
    padding: 0 10px 0 10px !important;
    width: 100%;
  }
}
.mat-column-academicJuryFilter,
.mat-column-academicJury {
  text-align: center;
  width: 10%;
  .mat-form-field {
    padding: 0 10px 0 10px !important;
    width: 100%;
  }
}
.mat-column-substitutionJuryFilter,
.mat-column-substitutionJury {
  text-align: center;
  width: 10%;
  .mat-form-field {
    padding: 0 10px 0 10px !important;
    width: 100%;
  }
}
.mat-column-actionFilter,
.mat-column-action {
  text-align: center;
  min-width: 200px !important;
  .mat-form-field {
    padding: 0 10px 0 10px !important;
    width: 100%;
  }
}
.mat-column-retakeCenterFilter,
.mat-column-retakeCenter {
  text-align: center;
  width: 10%;
  .mat-form-field {
    padding: 0 10px 0 10px !important;
    width: 100%;
  }
}

.mat-column-visioJuryFilter,
.mat-column-visioJury {
  text-align: center;
  width: 10%;
  .mat-form-field {
    padding: 0 10px 0 10px !important;
    width: 100%;
  }
}

.mat-column-rehearsalDoneFilter,
.mat-column-rehearsalDone {
  text-align: center;
  min-width: 100px !important;
  padding-top: 8px;
  .mat-form-field {
    padding: 0 10px 0 10px !important;
    width: 100%;
  }
}

.mat-column-mark_entry_status_filter,
.mat-column-mark_entry_status {
  text-align: center;
  min-width: 100px !important;
  padding-top: 8px;
  .mat-form-field {
    padding: 0px 10px 0px 10px !important;
    width: 100%;
  }
}

:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      padding-left: 0.5rem !important;
      &:nth-child(2){
        text-align: left;
      }
      &:nth-child(3){
        text-align: left;
      }
      &:nth-child(4){
        text-align: left;
      }
      &:nth-child(5){
        text-align: left;
      }
      &:nth-child(8){
        text-align: left;
      }
      &:nth-child(9){
        text-align: left;
      }
      &:nth-child(10){
        text-align: left;
      }
    }
    
    th {
      vertical-align: top;
      text-align: center;

      .mat-form-field-infix {
        width: unset !important;
      }
    }
    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }

  // tbody tr:nth-child(odd) {
  //   .mat-icon-button {
  //     background: transparent !important;
  //     line-height: 0 !important;
  //   }
  // }
  // tbody tr:nth-child(even) {
  //   .mat-icon-button {
  //     background: transparent !important;
  //     line-height: 0 !important;
  //   }
  // }
}

.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  text-align: right !important;
  .p-grid {
    margin-top: unset !important;
  }
}

.header-btn {
  min-width: auto !important;
}

.top-date-picker {
  width: 120px !important;
  margin-right: 1rem !important;
  margin-top: 5px !important;
}

.red {
  color: #ff4040;
}
.green {
  color: #adff2f;
}

.selectedYear {
  background-color: $dark-yellow;
  color: $black;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}
