@import '~assets/scss/theme/admtc';
:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      &:nth-child(1) {
        width: 40%;
        padding-left: 0.5rem !important;
        padding-top: 6px;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(2) {
        width: 40%;
        padding-left: 1rem !important;
        padding-top: 6px;
        padding-right: 0px;
        text-align: center;
        .mat-form-field {
          width: 90%;
        }
      }
    }
    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
    th{
      &:nth-child(1){
        text-align: center;
        padding-left: 0.2rem !important;
      }
    }
  }
  thead tr {
    &:nth-child(2) {
      height: 35px;
      padding-right: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      text-align: center;
      th {
        color: $white;
      }
    }
    &:nth-last-child(2) {
      border-bottom: none !important;
    }
  }
  .action-header-column {
    vertical-align: middle !important;
    padding-right: 0 !important;
    .p-grid {
      margin-top: unset !important;
    }
  }
}
.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}
