<div class="p-grid" *ngIf="studentData">
  <div class="p-col-12" style="padding-left: 0px; padding-right: 0px">
    <mat-card>
      <div class="p-grid" *ngIf="isWaitingForResponse" class="p-col-12" style="text-align: center !important; display: contents">
        <div class="center-spinner spinner-wrapper">
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </div>
      <div>
        <div class="mrgn-right-15" style="text-align: center">
          <div class="p-grid justify-around">
            <ng-container>
              <div class="p-col no-padding" style="text-align: center">
                <div class="p-grid" style="padding-top: 4px; display: block">
                  <div class="yellow-button background-status label-status card-status">
                    <div class="font-status">
                      <p class="text-status">
                        {{ 'detail_of_certification.status_card.sent_to_student' | translate }}
                      </p>
                    </div>
                    <span title="{{ 'detail_of_certification.status_card.sent_to_student' | translate }}">
                      <span [ngClass]="{ 'icon-true': statusCard.send_state, 'icon-false': !statusCard.send_state }">
                        {{ statusCard.send_state ? '&#10004;' : '&#10799;' }}</span
                      >
                    </span>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container>
              <div class="p-col no-padding" style="text-align: center">
                <div class="p-grid" style="padding-top: 4px; display: block">
                  <div class="yellow-button background-status label-status card-status">
                    <div class="font-status">
                      <p *ngIf="statusCard.student_decision_state_status" class="text-status">
                        {{ 'detail_of_certification.status_card.detail_confirmed' | translate }}
                      </p>
                    </div>
                    <span title="{{ 'detail_of_certification.status_card.detail_confirmed' | translate }}">
                      <span
                        [ngClass]="{ 'icon-true': statusCard.student_decision_state, 'icon-false': !statusCard.student_decision_state }"
                      >
                        {{ statusCard.student_decision_state ? '&#10004;' : '&#10799;' }}</span
                      >
                    </span>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container>
              <div class="p-col no-padding" style="text-align: center">
                <div class="p-grid" style="padding-top: 4px; display: block">
                  <div class="yellow-button background-status label-status card-status">
                    <div class="font-status">
                      <p *ngIf="statusCard.certification_state_status" class="text-status">
                        {{ 'detail_of_certification.status_card.certificate_issued' | translate }}
                      </p>
                    </div>
                    <span title="{{ 'detail_of_certification.status_card.certificate_issued' | translate }}">
                      <span [ngClass]="{ 'icon-true': statusCard.certification_state, 'icon-false': !statusCard.certification_state }">
                        {{ statusCard.certification_state ? '&#10004;' : '&#10799;' }}</span
                      >
                    </span>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <!-- *************** For Title -->
        <div class="p-grid p-justify-around">
          <div class="p-col-12 title-header no-padding">
            <div class="text-center">
              <h4 class="title-job">{{ 'STUDENT_CARD.TAB_TITLE' | translate }}</h4>
            </div>
          </div>
        </div>

        <div *ngIf="isCertificateProcessPublished && studentData && currentProcessId" class="p-grid p-justify-end action-button-container">
          <button
              mat-raised-button
              color="accent"
              (click)="downloadStudentPDFCertificate()"
            >
            <mat-icon class="mat-icon-default">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,10.84 21.79,9.69 21.39,8.61L19.79,10.21C19.93,10.8 20,11.4 20,12A8,8 0 0,1 12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4C12.6,4 13.2,4.07 13.79,4.21L15.4,2.6C14.31,2.21 13.16,2 12,2M19,2L15,6V7.5L12.45,10.05C12.3,10 12.15,10 12,10A2,2 0 0,0 10,12A2,2 0 0,0 12,14A2,2 0 0,0 14,12C14,11.85 14,11.7 13.95,11.55L16.5,9H18L22,5H19V2M12,6A6,6 0 0,0 6,12A6,6 0 0,0 12,18A6,6 0 0,0 18,12H16A4,4 0 0,1 12,16A4,4 0 0,1 8,12A4,4 0 0,1 12,8V6Z" />
              </svg>
            </mat-icon>
            {{'Download Certificate' | translate }}
          </button>
        </div>

        <!-- Student Identity Data -->
        <div class="p-grid" style="margin-bottom: 10px">
          <div class="yellow-border card-row p-col-12">
            <div class="p-grid">
              <!-- Student Name -->
              <div class="p-col-6">
                <span class="grey-text"> {{ 'detail_of_certification.student_detail.student_name' | translate }} : </span>
                <span> {{ studentData.civility | translate }} {{ studentData.first_name }} {{ studentData.last_name | uppercase }} </span>
              </div>
              <!-- Email Student -->
              <div class="p-col-6">
                <span class="grey-text"> {{ 'detail_of_certification.student_detail.email_address' | translate }} : </span>
                <span> {{ studentData.email ? studentData.email : '-' }} </span>
              </div>
            </div>
            <div class="p-grid">
              <!-- Student Date & Place Birth -->
              <div class="p-col-6">
                <span class="grey-text"> {{ 'detail_of_certification.student_detail.date_birth' | translate }} : </span>
                <span>
                  {{ studentData.place_of_birth ? studentData.place_of_birth : '' }}
                  {{ studentData.date_of_birth ? ' - ' + studentData.date_of_birth : '' }}
                </span>
              </div>
              <!-- Student Nationality -->
              <div class="p-col-6">
                <span class="grey-text"> {{ 'detail_of_certification.student_detail.nationality' | translate }} : </span>
                <span> {{ studentData.nationality ? ('NATIONALITY.' + studentData.nationality | translate) : '-' }} </span>
              </div>
            </div>
            <div class="p-grid">
              <!-- Student Phone -->
              <div class="p-col-6">
                <span class="grey-text"> {{ 'detail_of_certification.student_detail.phone_number' | translate }} : </span>
                <span> {{ studentData.tele_phone ? studentData.tele_phone : '-' }} </span>
              </div>
              <!-- Address Student -->
              <div class="p-col-6">
                <span class="grey-text"> {{ 'detail_of_certification.student_detail.address' | translate }} : </span>
                <span *ngFor="let address of studentData.student_address; let addressIndex = index">
                  <span> {{ address.address ? address.address : '-' }} </span>
                  <span class="full-width" *ngIf="address.postal_code || address.city">
                    {{ address?.postal_code }}{{ address?.postal_code && address.city ? ' - ' : '' }}{{ address.city }}
                  </span>
                  <span class="full-width" *ngIf="address.country"> {{ address.country ? address.country : '-' }} </span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- Student School Data -->
        <div class="p-grid" style="margin-bottom: 10px" *ngIf="studentData.school && statusCard.student_decision_state">
          <div class="yellow-border card-row p-col-12">
            <div class="p-grid">
              <!-- School Name -->
              <div class="p-col-6">
                <span class="grey-text"> {{ 'detail_of_certification.student_detail.school_name' | translate }} : </span>
                <span> {{ studentData.school ? studentData.school.short_name : '-' }} </span>
              </div>
              <!-- School Court Name -->
              <div class="p-col-6">
                <span class="grey-text"> {{ 'detail_of_certification.student_detail.school_court_name' | translate }} : </span>
                <span> {{ studentData.school ? studentData.school.long_name : '-' }} </span>
              </div>
            </div>
            <div class="p-grid">
              <!-- School Website -->
              <div class="p-col-6">
                <span class="grey-text"> {{ 'detail_of_certification.student_detail.school_website_url' | translate }} : </span>
                <span> - </span>
              </div>
              <!-- School Address -->
              <div class="p-col-6">
                <span class="grey-text"> {{ 'detail_of_certification.student_detail.school_address' | translate }} : </span>
                <span *ngFor="let address of studentData.school.school_address; let addressIndex = index">
                  <span *ngIf="address.address1"> {{ address.address1 }} </span>
                  <span *ngIf="address.address2"> {{ address.address2 }} </span>
                  <span class="full-width" *ngIf="address.postal_code || address.city">
                    {{ address?.postal_code }}{{ address?.postal_code && address.city ? ' - ' : '' }}{{ address.city }}
                  </span>
                  <span class="full-width" *ngIf="address.country"> {{ address.country ? address.country : '-' }} </span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- Title Data -->
        <div class="p-grid" style="margin-bottom: 10px" *ngIf="studentData.rncp_title && statusCard.certification_state">
          <div class="yellow-border card-row p-col-12">
            <div class="p-grid">
              <!-- Title Name -->
              <div class="p-col-6">
                <span class="grey-text"> {{ 'detail_of_certification.student_detail.title' | translate }} : </span>
                <span> {{ studentData.rncp_title ? studentData.rncp_title.long_name : '-' }} </span>
              </div>
              <!-- Date of Issuance -->
              <div class="p-col-6">
                <span class="grey-text"> {{ 'detail_of_certification.student_detail.date_issuance' | translate }} : </span>
                <span> {{ getCetificateIssuanceDate() }} </span>
              </div>
            </div>
            <div class="p-grid">
              <!-- Degree Ref -->
              <div class="p-col-6">
                <span class="grey-text"> {{ 'detail_of_certification.student_detail.degree_ref' | translate }} : </span>
                <span> {{ studentData.rncp_title ? studentData.rncp_title.rncp_code : '-' }} </span>
              </div>
              <!-- School Ref -->
              <div class="p-col-6">
                <span class="grey-text"> {{ 'detail_of_certification.student_detail.school_ref' | translate }} : </span>
                <span> {{ studentData.school.school_siret ? studentData.school.school_siret : '-' }} </span>
              </div>
            </div>
            <div class="p-grid">
              <!-- Ref Date to Official Journal -->
              <div class="p-col-6">
                <span class="grey-text"> {{ 'detail_of_certification.student_detail.ref_date_journal' | translate }} : </span>
                <span> {{ studentData?.rncp_title ? studentData?.rncp_title?.journal_date : '-' }} </span>
              </div>
              <!-- Ref Text to Official Journal -->
              <div class="p-col-6">
                <span class="grey-text"> {{ 'detail_of_certification.student_detail.ref_text_journal' | translate }} : </span>
                <span> {{ studentData.rncp_title ? utilService.cleanHTML(studentData.rncp_title.journal_text) : '-' }} </span>
              </div>
            </div>
            <div class="p-grid">
              <!-- CertiDegree Blockchain Ref -->
              <div class="p-col-12">
                <span class="grey-text"> {{ 'detail_of_certification.student_detail.certidegree_blockchain_ref' | translate }} : </span>
                <span> - </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    <div class="p-grid" style="margin-top: 0.5rem" *ngIf="revisionAllowed()">
      <div class="p-col-12" style="text-align: right; padding-right: 0px">
        <button mat-raised-button color="warn" (click)="revisionData()">
          <!-- <mat-icon class="mat-icon-default">save</mat-icon> -->
          {{ 'detail_of_certification.student_detail.need_revision' | translate }}
        </button>
        <button mat-raised-button color="accent" (click)="confirmVerification()">
          <!-- <mat-icon class="mat-icon-default">save</mat-icon> -->
          {{ 'detail_of_certification.student_detail.confirm' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
