<table
  *ngIf="juryOrganization"
  mat-table
  [dataSource]="dataSource"
  matSort (matSortChange)="sortData($event)"
  matSortDisableClear
  class="mat-elevation-z8 mrgn-t-md"
>
  <ng-container matColumnDef="reset">
    <th mat-header-cell *matHeaderCellDef [attr.colspan]="displayedColumns?.length" class="action-header-column">
      <div class="p-col text-right">
        <button mat-raised-button color="primary" class="margin-right-0" (click)="resetAllFilter()">
          <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
          {{ 'RESET' | translate }}
        </button>
      </div>
    </th>
  </ng-container>

  <ng-container matColumnDef="selectFilter">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <ng-container matColumnDef="jurySerialNumberFilter">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <ng-container matColumnDef="dateFilter">
    <th mat-header-cell *matHeaderCellDef>
      <mat-form-field>
        <input
          matInput
          class="form-field"
          [formControl]="dateFilter"
          [matDatepicker]="picker"
          placeholder="{{ 'SELECTDATE' | translate }}"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </th>
  </ng-container>

  <ng-container matColumnDef="locationFilter">
    <th mat-header-cell *matHeaderCellDef>
      <mat-form-field>
        <input matInput class="form-field" [formControl]="locationFilter" placeholder="{{ 'search' | translate }}" />
      </mat-form-field>
    </th>
  </ng-container>

  <ng-container matColumnDef="cityFilter">
    <th mat-header-cell *matHeaderCellDef>
      <mat-form-field>
        <input matInput class="form-field" [formControl]="cityFilter" placeholder="{{ 'search' | translate }}" />
      </mat-form-field>
    </th>
  </ng-container>

  <ng-container matColumnDef="rncpTitlesFilter">
    <th mat-header-cell *matHeaderCellDef>
      <mat-form-field>
        <input matInput class="form-field" [formControl]="rncpTitlesFilter" placeholder="{{ 'search' | translate }}" />
      </mat-form-field>
    </th>
  </ng-container>

  <ng-container matColumnDef="studentsFilter">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <ng-container matColumnDef="presidentJuryFilter">
    <th mat-header-cell *matHeaderCellDef>
      <mat-form-field>
        <input matInput class="form-field" [formControl]="presidentJuryFilter" placeholder="{{ 'search' | translate }}" />
      </mat-form-field>
    </th>
  </ng-container>

  <ng-container matColumnDef="professionalJuryFilter">
    <th mat-header-cell *matHeaderCellDef>
      <mat-form-field>
        <input matInput class="form-field" [formControl]="professionalJuryFilter" placeholder="{{ 'search' | translate }}" />
      </mat-form-field>
    </th>
  </ng-container>

  <ng-container matColumnDef="academicJuryFilter">
    <th mat-header-cell *matHeaderCellDef>
      <mat-form-field>
        <input matInput class="form-field" [formControl]="academicJuryFilter" placeholder="{{ 'search' | translate }}" />
      </mat-form-field>
    </th>
  </ng-container>

  <ng-container matColumnDef="substitutionJuryFilter">
    <th mat-header-cell *matHeaderCellDef>
      <mat-form-field>
        <input matInput class="form-field" [formControl]="substitutionJuryFilter" placeholder="{{ 'search' | translate }}" />
      </mat-form-field>
    </th>
  </ng-container>

  <ng-container matColumnDef="statusFilter">
    <th mat-header-cell *matHeaderCellDef>
      <mat-form-field>
        <mat-select [formControl]="statusFilter">
          <mat-option *ngFor="let status of statusList" [value]="status.id">
            {{ status.name | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </th>
  </ng-container>

  <ng-container matColumnDef="actionFilter">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef class="text-center">
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(element) : null"
        [checked]="selection.isSelected(element)"
        [aria-label]="checkboxLabel(element)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="jury_serial_number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="jury_number">
      <h5>{{ 'JURY_ORGANIZATION.JURYNUMBER' | translate }}</h5>
    </th>
    <td mat-cell *matCellDef="let element">{{ element?.jury_serial_number }}</td>
  </ng-container>

  <ng-container matColumnDef="date_start">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="date_from">
      <h5>{{ 'MailBox.DATE' | translate }}</h5>
    </th>
    <td mat-cell *matCellDef="let element">{{ element?.date_start | date: 'dd/MM/yyyy' }}</td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="school">
      <h5>{{ 'Location' | translate }}</h5>
    </th>
    <td mat-cell *matCellDef="let element">{{ element?.school?.short_name }}</td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="city">
      <h5>{{ 'City' | translate }}</h5>
    </th>
    <td mat-cell *matCellDef="let element">{{ element?.school?.school_address[0]?.city }}</td>
  </ng-container>

  <ng-container matColumnDef="rncpTitles">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="rncp_title">
      <h5>{{ 'TASK.RNCP_Title' | translate }}</h5>
    </th>
    <td mat-cell *matCellDef="let element">{{ element?.rncp_title.short_name }}</td>
  </ng-container>

  <ng-container matColumnDef="students">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="number_student">
      <h5>{{ 'Students' | translate }}</h5>
    </th>
    <td mat-cell *matCellDef="let element">{{ element?.students?.length }}</td>
  </ng-container>

  <ng-container matColumnDef="presidentJury">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="president_of_jury">
      <h5>{{ 'JURY_ORGANIZATION.PRESIDENT' | translate }}</h5>
    </th>
    <td mat-cell *matCellDef="let element">{{ element?.president_of_jury?.last_name }} {{ element?.president_of_jury?.first_name }}</td>
  </ng-container>

  <ng-container *ngIf="juryMemberRequired">
    <ng-container matColumnDef="professionalJury">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="professional_jury_member"
        matTooltip="{{ 'JURY_ORGANIZATION.PROFESSIONAL' | translate }}"
        matTooltipPosition="above"
      >
        <h5>{{ 'JURY_ORGANIZATION.PROFESSIONAL' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element?.professional_jury_member?.last_name }} {{ element?.professional_jury_member?.first_name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="academicJury">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="academic_jury_member"
        matTooltip="{{ 'JURY_ORGANIZATION.ACADEMIC' | translate }}"
        matTooltipPosition="above"
      >
        <h5>{{ 'JURY_ORGANIZATION.ACADEMIC' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element?.academic_jury_member?.last_name }} {{ element?.academic_jury_member?.first_name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="substitutionJury">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="substitution_jury_member"
        matTooltip="{{ 'JURY_ORGANIZATION.SUBSTITUTE' | translate }}"
        matTooltipPosition="above"
      >
        <h5>{{ 'JURY_ORGANIZATION.SUBSTITUTE' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element?.substitution_jury_member?.last_name }} {{ element?.substitution_jury_member?.first_name }}
      </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="status" class="text-center">
      <h5>{{ 'Status' | translate }}</h5>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon
        matTooltip="{{ 'JURY_ORGANIZATION.SENTTOSTUDENT' | translate }}"
        matTooltipPosition="right"
        *ngIf="element?.is_student_assigned"
        class="greenyellow-icon"
        aria-hidden="true"
        >lens
      </mat-icon>
      <mat-icon
        matTooltip="{{ 'JURY_ORGANIZATION.NOTSENT' | translate }}"
        matTooltipPosition="right"
        *ngIf="!element?.is_student_assigned"
        class="red-icon"
        aria-hidden="true"
        >lens
      </mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef class="text-center">
      <h5>{{ 'Action' | translate }}</h5>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button matTooltip="{{ 'JURY_ORGANIZATION.ACTION_BUTTON.EDIT' | translate }}" matTooltipPosition="above" (click)="goToAssignStudentPerJury(element)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="loading">
    <th mat-header-cell *matHeaderCellDef [attr.colspan]="displayedColumns?.length" class="text-center">
      <div class="center-spinner">
        <mat-spinner color="accent"></mat-spinner>
      </div>
    </th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['reset']"></tr>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
  <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isLoading"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isLoading"></tr>
</table>

<mat-paginator  
  [ngClass]="{ 'hide-pagination-buttons': dataCount <= 10 }"
  [length]="dataCount"
  [hidePageSize]="true"
  [pageSizeOptions]="[10]"
  showFirstLastButtons
></mat-paginator>
