@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

// .header-div {
//   border-bottom: 1px solid black;
//   display: flex;
//   padding: 1rem 1rem;
// }

// .header-text {
//   color: black;
//   margin-left: 1rem; 
//   margin-bottom: 0px !important;
// }

// .header-icon {
//   align-self: center;
//   margin-left: auto;
//   cursor: pointer;
// }

.custom-dialog-container .mat-dialog-container {
  padding: 0 !important;
}

.mat-card-header-text {
    width: 100% !important;
  }
  
  .button-add-doc {
    display: inline;
    float: right;
  }
  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
  .button-remove-list {
    float: right;
    top: 50%;
  }
  
  .middle {
    vertical-align: middle;
  }
  
  .card-margin {
    margin: 0.3333em;
  }
  
  .auto-tab-width {
    .mat-tab-label {
      min-width: auto !important;
    }
  }
  
  .white-background-tabs {
    .mat-tab-label-active {
      background-color: rgba(207, 216, 220, 0.3);
      opacity: 1 !important;
    }
  }
  
  .no-overflow {
    max-width: 100%
  }
  
  .mat-raised-button.mat-primarybtn,
  .mat-fab.mat-primarybtn,
  .mat-mini-fab.mat-primarybtn {
    background-color: #3f51b5;
  }
  
  .no-bottom-margin [fxFlex] {
    margin-bottom: auto;
  }
  
  
  .owl-datetime-input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #8e8e8e !important;
  background: #424242 !important;
  }
  
  .inputStyleClass {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #8e8e8e !important;
    background: #424242 !important;
  }
  
  .select-input-container {
    margin-bottom: 0;
  }
  
  .pa-1 {
    padding: 1rem !important;
  }
  .pr-1 {
    padding-right: 1rem !important;
  }
  .pl-1 {
    padding-left: 1rem !important;
  }
  .pt-1 {
    padding-top: 1rem !important;
  }
  .pb-1 {
    padding-bottom: 1rem !important;
  }
  .px-1 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .px-3 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  .py-1 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  
  .ma-1 {
    margin: 1rem !important;
  }
  .mr-1 {
    margin-right: 1rem !important;
  }
  .ml-1 {
    margin-left: 1rem !important;
  }
  .mt-1 {
    margin-top: 1rem !important;
  }
  .mb-1 {
    margin-bottom: 1rem !important;
  }
  .mx-1 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  .my-1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  
  .m-p-0 {
    margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
  }
  
  .p-0{
    padding-left: 0px;
    // padding-right: 0px;
  }
  
  .p-0-6{
    padding-top: 0.8em;
  }
  
  .p-1-8 {
    padding-top: 1.8em !important;
  }
  
  .mat-form-field-flex {
    width: 150% !important;
  }
  
  
  .active-tab {
    background-color: #ffd740 !important;
    color: black !important;
  }
  
  .orange-button {
    background-color: #ff5722;
    color: white;
  }
  
  .ngui-datetime-picker-wrapper {
    background-color: blue !important;
  }
  
  .overflow {
    overflow: visible;
  }

  :host ::ng-deep button.ngx-material-timepicker-toggle {
    border-radius: 0px !important;
    // border-bottom: 1px solid #c7c7c7 !important;
    padding-bottom: 0.6px !important;
    padding-right: 0px !important;
  }
  :host::ng-deep.mat-radio-outer-circle {
    border-color: rgba(0, 0, 0, 0.54) !important;
  }
  :host::ng-deep.mat-form-field-underline {
    background-color: rgba(0, 0, 0, 0.12) !important;
  }

  ::ng-deep.custom-matselect-dropdown.mat-select-panel{
    max-width: fit-content !important;
  }
  ::ng-deep.filterPanel {
    margin-top: 25px !important;
  }
