.dialogTitle {
    display: inline-block;
  }
  
  .dialogTitleWrapper {
    color: black;
  }
  
  .dialog-border {
    border-bottom: 1px solid black;
  }
  .no-padding {
    padding: 0px;
  }
  
  .header-dialog {
    margin-top: 15px;
    padding: 0 5px 0 15px;
  }
  
  .mat-dialog-content {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .mat-dialog-actions {
    margin: 0 7px 3px 0;    
  }
  
  .w-30 {
    width: 30px;
  }
  .w-95 {
    width: 95px;
  }
  