.dialog-title-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px black;
  margin-bottom: 1rem;

  .dialog-title {
    flex: 1;
    flex-grow: 1;
    margin-bottom: 0;
  }
}
