<a class="back-button" (click)="goBack()">
  <i class="fa fa-chevron-left" aria-hidden="true"></i>
  <span class="jury-name">{{ juryOrgData?.name }}</span>
</a>

<div>
  <mat-tab-group
    #studentMatGroup 
    (click)="checkValidation($event)" 
    [selectedIndex]="selected"
  >
    <!-- First tab always shown -->
    <mat-tab disabled label="{{ 'JURY_ORGANIZATION.MAIN_SCHEDULE' | translate }}">
      <ng-template matTabContent>
        <ms-assign-number-jury-main-schedule
          #mainSchedule
          *ngIf="juryOrgData"
          [juryOrgData]="juryOrgData">
        </ms-assign-number-jury-main-schedule>
      </ng-template>
    </mat-tab>

    <mat-tab disabled label="{{ 'JURY_ORGANIZATION.BACKUP_SCHEDULE' | translate }}">
      <ng-template matTabContent>
        <ms-assign-number-jury-backup-schedule
          #backupSchedule
          *ngIf="juryOrgData"
          [juryOrgData]="juryOrgData">
        </ms-assign-number-jury-backup-schedule>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</div>
