table {
  border: 5px #607d8b;
}

th {
  padding: 15px 7px;
}
.no-padding {
  padding: 0px !important;
}
.competences {
  text-align: center;
  vertical-align: middle;
  padding: 0px 0px !important;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  height: 100%;
  width: 40px;
  min-width: 30px;
}

.noScroll::-webkit-scrollbar {
  display: none;
}

tbody {
  height: 100px; /* Just for the demo          */
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: hidden; /* Hide the horizontal scroll */
}
span.h-text {
  width: 100%;
  display: block;
}
.h-left {
  border: 0px;
  text-align: left;
}
.h-lefts {
  border: 0px;
  text-align: left;
  padding: 0px;
  margin: 0px;
  height: 10px;
}
.h-right {
  border: 0px;
  text-align: right;
}
.h-center {
  text-align: center;
}
.over-table {
  width: 1555px;
  // overflow: auto;
  margin-bottom: 65px;
}
.over-tables {
  width: 100%;
  overflow: auto;
  margin-bottom: 65px;
}
.backgreen {
  background-color: #caf2ee;
}
.border-none {
  border: 0px !important;
}
.text-center {
  text-align: center !important;
}
.scroll {
  height: 100px;
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: hidden; /* Hide the horizontal scroll */
}
th {
  padding: 0px;
}
h4 {
  padding: 0px !important;
  margin: 0px;
}

.clear-format {
  margin: 0px;
  padding: 0px;
}
.border {
  border: 1px solid #607d8b;
  display: inline-block;
}
.container {
  width: 100%;
  overflow: auto;
}
.title {
  width: 529px;
  display: inline-block;
}
.sub-containt {
  overflow: auto;
  display: inline-flex;
  font-size: 14px;
}
.inline {
  display: inline-block;
}
.left {
  float: left;
}
.right {
  float: right;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.t-center {
  text-align: center;
}
.rotate-270 {
  text-align: center;
  transform: rotate(270deg);
  position: absolute;
  top: 28px;
  left: -20px;
  width: 66px;
  padding: 0px;
  margin: 0px;
}
.note-5 {
  // width: 75px;
  // position: relative;
  // left: -19px;
  // top: 18px;
}
.level {
  // width: 75px;
  // position: relative;
  // left: -58px;
  // top: 18px;
}
.inline-flex {
  display: flex;
}
.relative {
  position: relative;
}
.col-auto {
  width: 100%;
  overflow: auto;
  display: flex;
}
.acad {
  min-width: 520px;
}
.eval {
  min-width: 210px;
}
.prof {
  min-width: 210px;
}
.grand {
  padding-right: 10px !important;
}
.comps {
  left: 7px;
  top: 75px;
}
.justification {
  vertical-align: middle;
  text-align: center;
  padding: 27px 0px;
}
.justification-1 {
  vertical-align: middle;
  text-align: center;
  padding: 47px 0px;
  height: 131px;
}
.justification-2 {
  vertical-align: middle;
  text-align: center;
  padding: 65px 0px;
  height: 148px;
}
.p-right {
  padding-right: 5px !important;
}
.bilan {
  left: -11px !important;
}
.width-header {
  width: 1110px;
}
.comps-1 {
  left: -6px;
  top: 75px;
}
.comps-2 {
  left: 139px;
  top: 75px;
}
.block {
  width: 145px;
  top: 65px;
  left: 4px;
}
.body {    
  // width: 1744px;
  // overflow: auto;
  // height: 445px;
  // margin-top: 7px !important;
  // border-top: 4px solid #607d8b !important;
  // border: 1px solid #607d8b;
  // overflow-x: hidden;
  width: 1518px;
  // overflow: auto;
  // height: 445px;
  margin-top: 7px !important;
  border-top: 5px solid #607d8b !important;
  // border-bottom: 1px solid #607d8b;
  // overflow-x: hidden;
}
.body-1 {    
  // width: 1744px;
  height: 600px;
  border-top: 4px solid !important;
  border: 1px solid;    margin: 0px !important;
  width: 1328px !important;
}
.m-bottom {
  margin-bottom: 25px !important;
}
.m-none {
  margin: 0px !important;
}
.note {
  min-width: 27px;
}
.level {
  min-width: 28px;
}
.note-1 {
  min-width: 28px;
  font-size: 12px;
}
.level-1 {
  min-width: 29px;
}
.note-2 {
  min-width: 44px;
}
.level-2 {
  min-width: 42px;
}
.first-column {
  text-align: left;
    padding-left: 10px !important;
    width: 180px;
}
.second-column {
  width: 150px;
}