@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.h1 {
  color: $black;
}

.plus_button {
  margin-top: 15px;
  margin-right: 5px;
  height: 250%;
  width: 35px;
}

.negativ_button {
  margin-top: 15px;
  margin-left: 9px;
  height: 25%;
  width: 35px;
}

.hide-field {
  display: none;
}

.mat-icon {
  height: 32px;
  width: 32px;
}

.dialogTitle {
  margin-left: 0px;
  margin-bottom: 0px;
  display: inline-block;
}

.dialogTitleWrapper {
  vertical-align: middle;
  color: black;
  border-bottom: 2px solid #808080;
  margin-bottom: 20px;
}
.accent {
  color: black;
}
.p-col-5 {
  margin-top: 10px;
}
.p-col-7 {
  margin-top: 4px;
}

:host ::ng-deep .mat-form-field-label {
  color: #4c4c4c !important;
  font-size: 13px !important;
}

:host ::ng-deep .mat-input-element {
  padding-bottom: 5px !important;
}

:host ::ng-deep .mat-select-placeholder {
  padding-bottom: 5px !important;
}

:host ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.34375em) scale(0.87) !important;
}

:host ::ng-deep.ng-dropdown-panel {
  position: relative !important;
}

.basic-height {
  height: 200px;
}

:host::ng-deep.mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, 0.54) !important;
}
:host::ng-deep.mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

.card-row {
  padding-top: 8px;
  border-radius: 4px;
}
.overlow-scroll {
  overflow: scroll;
  max-height: 185px;
}
.pad-24 {
  padding: 24px;
}
.inner-loading-indicator-transparent-bg {
  background-color: #12121285;
}
.dialogTitle {
  display: inline-block;
  padding-top: 3px !important;
}
.icon-close {
  display: inline-block;
  float: right;
  position: relative;
}
.display-content {
  display: contents;
}
.display-inline {
  display: inline-block;
}

:host ::ng-deep {
  .mat-dialog-content {
    max-height: 70vh;
  }
}

.cv-file-action {
  margin-right: 3px;
}

.display-none {
  display: none;
}

.baseline-middle {
  vertical-align: -webkit-baseline-middle;
}

.red-color-important {
  color: red !important;
}
.mat-dialog-actions[align=end] {
  margin-right: 20px;
  margin-bottom: 10px;
}