<div [formGroup]="dateForm">
    <div>
      <label class="questionLabel">{{ inputQuestion?.get('question_name')?.value }}<span *ngIf="isFieldRequired">*</span></label>
    </div>
    <div>
        <div class="form-group" style="display: flex">
            <input
              (click)="myDatepickers.open()"
              class="form-control"
              [matDatepicker]="myDatepickers"
              formControlName="answer_date"
              [placeholder]="inputQuestion?.get('parent_child_options')?.value[0]?.option_text"
              (dateChange)="updateQuestionAnswer($event)"
              [readOnly]="isFormDisabled"
              [disabled]="isFormDisabled"
            />
            <!-- <div class="invalid-feedback" *ngIf="quest.get('is_required')?.value && quest.invalid && quest.touched">
              {{ 'This field is required' | translate }}
            </div> -->
            <mat-datepicker-toggle matSuffix [for]="myDatepickers"></mat-datepicker-toggle>
            <mat-datepicker #myDatepickers></mat-datepicker>
          </div>
          <div class="invalid-feedback" *ngIf="isFieldRequired && !inputQuestion?.get('answer_date')?.value && inputQuestion?.get('answer_date')?.touched">
            {{ 'This field is required' | translate }}
          </div>
    </div>
</div>
  