@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.form-field {
  margin-top: 6px;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}
.horizontal {
  overflow: auto;
}
.horizontal::-webkit-scrollbar {
  height: 10px;
  height: 10px;
}
.horizontal::-webkit-scrollbar-track {
  background: #212121;
}
.horizontal::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #fdd835 !important;
}

.mat-column-school, .mat-column-schoolFilter {
  width: 250px !important;
  z-index: 999 !important;
  padding-left: 10px;
  .mat-form-field { width: 100%; }
  box-shadow: 1px 1px 0px 0px #545454;
}

:host ::ng-deep table {
  table-layout: fixed;
  tr {
    td, th {
      border-right: 1px solid $grey;
      overflow: hidden;
      width:auto;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    td {
      max-width: 0;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      // div {
      //   display: inline;
      // }
    }
    th {
      vertical-align: top;

      .mat-form-field-infix {
        width: unset !important;
      }
    }
    &:nth-child(1) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(1),
    &:nth-child(2) {
      background: $light-black;
      th {
        color: $white;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.action-header-column {
  text-align: right !important;
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}

.hide {
  display: none;
}

.green-icon{
  color: #9acd32  !important;
}

.center-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marr-0 {
  margin-right: 0px;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}
.icon-thumbsup {
  width: 13px; 
  padding: 2px 0px 0px 0px;
}

.icon-certifier {
  width: 15px;
}

// Special Styling for Student Table
:host ::ng-deep table:not(.no-action-header):not(.notif-table) {
  th {
    font-weight: 400;
  }

  thead > tr:first-child {
    border-top: 4px solid $dark-blue !important;
  }

  // thead > tr:nth-child(2) {
  //   border-top: 4px solid $dark-blue;
  // }

  thead > tr {
    border-left: 4px solid $dark-blue;
    border-right: 4px solid $dark-blue;
  }

  thead > tr:nth-last-child(1) {
    border-bottom: 4px solid $dark-blue !important;
  }

  thead > tr:last-child {
    border-bottom: 4px solid $dark-blue;
  }

  tbody > tr {
    border-left: 4px solid $dark-blue;
    border-right: 4px solid $dark-blue;
  }

  tbody > tr:last-child {
    border-bottom: 4px solid $dark-blue;
  }

  tbody tr:nth-child(odd) {
    background-color: $dark-blue;
    .mat-icon-button {
      background: $light-medium-grey;
      line-height: 0 !important;
    }
  }
  thead > tr:nth-child(2) {
    border-top: none !important;
  }
  tbody tr:nth-child(even) {
    background-color: $light-medium-grey;
    .mat-icon-button {
      background: $dark-blue;
      line-height: 0 !important;
    }
  }
}

.header-button {
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 8px;
  height: 46px;
  border-radius: 2px;
  background-color: #424242;
}

.doc-icon {
  line-height: 1.3;
  cursor: pointer;
  margin: 0 !important;
}

.lens-icon {
  margin: 0 !important;
}

.mark-column {
  text-align: center;
  line-height: 1.4;
}

.school-student-table table {
  border-collapse: unset !important;
}

.yellow {
  color: #FFD740;
}
.orange {
  color: #F49F36;
}
.blue {
  color: #36EBF4;
}
.red {
  color: #FF4040;
}
.green {
  color: #ADFF2F;
}
.purple {
  color: #ff46f9;
}

.questionMarkSpan {
  margin: 0px;
  padding: 0px !important;
  margin-left: 10px !important;
  margin-top: 10px !important;
  line-height: 16px;
  width: 16px !important;
  min-width: 16px;
  cursor: pointer;
}