.no-padding-bottom {
  padding-bottom: 0px;
  padding-top: 0;
}
.border-bottom {
  border-bottom-style: solid;
  border-bottom-color: rgb(0, 0, 0);
}
.title {
  padding-top: 12px;
}
.close-icon {
  float: right;
  color: black;
}
.mat-icon-button {
  height: 50px;
}