<div>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="reset">
      <th mat-header-cell *matHeaderCellDef colspan="6" class="action-header-column text-right">
        <div class="p-grid">
          <div class="p-col-12 no-padding text-right">
            <!-- <button
              *ngIf="isTutorialAdded"
              matTooltip="{{ 'Tutorial for this module' | translate }}"
              (click)="toggleTutorial(tutorialData)"
              mat-icon-button
              style="margin-right: 1rem"
            >
              <mat-icon>help</mat-icon>
            </button> -->
            <button mat-raised-button color="primary" (click)="resetSelection()">
              <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
              {{ 'RESET' | translate }}
            </button>
            <button
              (click)="addQuestionaireTemplate()"
              mat-raised-button
              color="accent"
              *ngIf="permissionService.addQuestionnaireToolsTemplatePerm()"
            >
              <mat-icon svgIcon="checkbox-marked-outline" class="mat-icon-svgIcon"></mat-icon>
              {{ 'Add Questionnaire' | translate }}
            </button>
          </div>
        </div>
      </th>
    </ng-container>

    <!-- filter section -->
    <ng-container matColumnDef="NameFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field floatLabel="never">
          <input matInput class="form-field" [formControl]="NameFilter" placeholder="{{ 'search' | translate }}" />
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="dateFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field floatLabel="never">
          <input matInput class="form-field" [formControl]="dateFilter" [matDatepicker]="picker" placeholder="{{ 'search' | translate }}" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="byFilter">
      <th mat-header-cell *matHeaderCellDef>
        <!-- <mat-form-field floatLabel="never">
          <input matInput class="form-field" [formControl]="byFilter" placeholder="{{ 'search' | translate }}" />
          <mat-select [formControl]="byFilter">
            <mat-option *ngFor="let by of byList" [value]="by.id">{{ by.name | translate }}</mat-option>
          </mat-select>
        </mat-form-field> -->
      </th>
    </ng-container>

    <ng-container matColumnDef="statusFilter">
      <th mat-header-cell *matHeaderCellDef class="pad-top-miss">
        <mat-form-field floatLabel="never">
          <mat-select [formControl]="statusFilter">
            <mat-option *ngFor="let status of statusList" [value]="status.id">{{ status.name | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="questionnaireTypeFilter">
      <th mat-header-cell *matHeaderCellDef class="pad-top-miss">
        <mat-form-field floatLabel="never">
          <mat-select [formControl]="TypeFilter">
            <mat-option *ngFor="let option of TypeFilterList" [value]="option.id">{{
              'QUESTIONNAIRE_TOOLS.' + option.name | translate
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="actionFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <!-- column header and value -->
    <ng-container matColumnDef="questionnaireName">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'TEMPLATE_NAME_QUESTIONNARY' | translate }}">
        <h5 mat-sort-header="questionnaire_name">{{ 'TEMPLATE_NAME_QUESTIONNARY' | translate }}</h5>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="selectTemplate(element)"
        style="cursor: pointer"
        matTooltip="{{ element?.questionnaire_name }}"
      >
        {{ element?.questionnaire_name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef style="text-align: center" matTooltip="{{ 'CREATE_DATE_QUESTIONNARY' | translate }}">
        <h5 mat-sort-header="created_date">{{ 'CREATE_DATE_QUESTIONNARY' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element"
        (click)="selectTemplate(element)"
        style="cursor: pointer"
        matTooltip="{{ element?.date_created }}"
      >
        {{ element?.date_created }}
      </td>
    </ng-container>

    <ng-container matColumnDef="by">
      <th mat-header-cell *matHeaderCellDef style="text-align: center" matTooltip="{{ 'By' | translate }}">
        <h5 mat-sort-header="created_by">{{ 'By' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element?.created_by?.first_name + ' ' + element?.created_by?.last_name }}"
      (click)="selectTemplate(element)"
      style="cursor: pointer"
      >
        {{ utilService.getInitials(element?.created_by?.first_name, element?.created_by?.last_name) | uppercase }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef style="text-align: center" matTooltip="{{ 'Status' | translate }}">
        <h5 mat-sort-header="published_status">{{ 'Status' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          [ngClass]="{
            'green-icon': element?.is_published === true,
            'red-icon': element?.is_published === false
          }"
        >
          check_circle
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="questionnaireType">
      <th mat-header-cell *matHeaderCellDef style="text-align: center" matTooltip="{{ 'QUESTIONNARY_TYPE' | translate }}">
        <h5 mat-sort-header="questionnaire_type">{{ 'QUESTIONNARY_TYPE' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" 
      (click)="selectTemplate(element)"
      style="cursor: pointer"
      matTooltip="{{ element?.questionnaire_type | translate }}"
      >
        {{ element?.questionnaire_type | translate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'GROUPOFSCHOOL.Action' | translate }}">
        <h5>{{ 'GROUPOFSCHOOL.Action' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          class="margin-right-button"
          matTooltip="{{ 'Duplicate' | translate }}"
          matTooltipPosition="above"
          (click)="duplicateTemplate(element)"
          *ngIf="permissionService.duplicateActionQuestionnaireToolsTemplatePerm()"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
        <button
          mat-icon-button
          class="margin-right-button"
          matTooltip="{{ 'Edit' | translate }}"
          matTooltipPosition="above"
          (click)="editTemplate(element)"
          *ngIf="permissionService.editActionQuestionnaireToolsTemplatePerm()"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          class="margin-right-button"
          matTooltip="{{ 'Delete' | translate }}"
          matTooltipPosition="above"
          (click)="deleteTemplate(element)"
          *ngIf="permissionService.deleteActionQuestionnaireToolsTemplatePerm() && element?.created_by?._id === currentUser?._id"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="loading">
      <th mat-header-cell *matHeaderCellDef colspan="6" class="text-center">
        <div class="center-spinner">
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['reset']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForResponse"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isWaitingForResponse"></tr>
  </table>
  <div *ngIf="noData | async" class="no-records">
    {{ 'NOT RECORD FOUND' | translate }}
  </div>
  <div [ngClass]="{ hide: noData | async }">
    <mat-paginator
      [ngClass]="{ 'hide-pagination-buttons': groupCount <= 10 }"
      [length]="groupCount"
      [hidePageSize]="true"
      [pageSize]="[10]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
