.dialogTitle {
  display: inline-block;
}

.dialogTitleWrapper {
  color: black;
}

.dialog-border {
  border-bottom: 2px solid black;
}

.no-padding {
  padding: 0px;
}

.header-dialog {
  margin-top: 15px;
  padding: 0 5px 0 15px;
}

.mat-dialog-content {
  margin: 15px 0 0 0;
}

.w-30 {
  width: 30px;
}

.w-45 {
  width: 45px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-1-25 {
  margin-bottom: 1.25em;
}

.icon-top {
  margin-top: 4px;
}

.ml-2 {
  margin-left: 2rem;
}
