<div class="p-col-12">
  <mat-card class="mat-card-adjust">
    <div class="p-grid">
      <div class="p-col-6 float-left">
        <div class="p-grid">
          <div class="p-col">
            <mat-form-field class="pad-top-2">
              <input matInput class="form-field" [formControl]="search" placeholder="{{ 'COMPANY.SearchBy' | translate }}" />
            </mat-form-field>
          </div>
          <div class="p-col">
            <mat-form-field class="pad-top-2" *ngIf="source === 'branches'">
              <input matInput class="form-field" [formControl]="mentorSearch" placeholder="{{ 'COMPANY.SearchByMent' | translate }}" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="p-col-6 float-right">
        <div class="p-grid">
          <div class="btn-placement">
            <button *ngIf="showButtonAddCompany()" mat-raised-button color="accent" class="float-right" (click)="addCompany()">
              <mat-icon class="mat-icon-default">business</mat-icon>
              {{ 'COMPANY.ADD_COMPANY' | translate }}
            </button>
            <button mat-raised-button color="primary" (click)="reset()">
              <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
              {{ 'COMPANY.RESET' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
