<div class="dialog-border" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="dialogTitleWrapper header-dialog">
    <div class="p-grid">
      <div class="w-30 no-padding">
        <mat-icon mat-icon-button svgIcon="alert-circle-outline" class="mt-5px"></mat-icon>
      </div>
      <div class="p-col-10 no-padding">
        <h3 class="dialogTitle">{{ 'CLOSE CONTRACT DIALOG' | translate }}</h3>
      </div>
      <div class="w-55 no-padding">
        <button mat-icon-button class="close-icon float-right" (click)="closeDialog()" tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-content class="mat-dialog-content dialog-body">
  <div class="p-grid">
    <mat-label>{{('CLOSE CONTRACT WARNING' | translate: {
      studentCiv: translate.instant(this.data?.studentName?.civility),
      studentFirst: data?.studentName?.first_name,
      studentLast: data?.studentName?.last_name,
      companyName: data?.companyName,
      mentorCiv: translate.instant(data?.mentorCiv),
      mentorLast: data?.mentorLast,
      mentorFirst: data?.mentorFirst
      })
    }}</mat-label>
  </div>
  <br>
  <div class="p-grid ">
    <div class="p-col-fixed margin-col">
      <mat-label>{{'DATE OF TERMINATION' | translate}}:</mat-label>
    </div>
    <div class="p-col-3">
      <mat-form-field>
        <input
          [formControl]="resignationDate"
          [matDatepicker]="myDatepicker"
          (click)="myDatepicker.open()"
          matInput
          readonly
        />
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="p-grid">
    <mat-form-field>
      <textarea style="height: 100px; color: black" matInput type="text" [formControl]="reason"
        placeholder="{{'RESIGNATION REASON' | translate}}"></textarea>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions class="justify-content-end mr-10">
  <button mat-button mat-raised-button color="warn" (click)="closeDialog()">{{ 'CANCEL' | translate }}</button>
  <button
    mat-button
    mat-raised-button
    color="primary"
    (click)="submit()"
    class="mr-0">
    {{ 'Enter' | translate }}
  </button>
</div>