<div class="dialog-border" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="dialogTitleWrapper header-dialog">
    <div class="p-grid p-justify-between">
      <div class="no-padding">
        <h2 style="color: black" mat-dialog-title>
          {{
            (data && data.type && data.type === 'add' ? 'EVAL_BY_EXPERTISE.Add question' : 'EVAL_BY_EXPERTISE.Edit question') | translate
          }}
        </h2>
      </div>
      <div class="no-padding">
        <button mat-icon-button class="close-icon float-right" (click)="closeDialog()" tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<mat-dialog-content>
  <div class="p-grid" style="color: black" [formGroup]="evaluationForm">
    <div class="p-col-12">
      <mat-label class="color-mat">{{ 'EVAL_BY_EXPERTISE.Please Enter Question Name' | translate }}*</mat-label>
      <div style="padding: 0; border: 1px solid gray; position: relative">
        <ckeditor
          [config]="{
            toolbar: ['bold', 'italic', 'underline', 'strikethrough', 'numberedList', 'bulletedList'],
            link: {
              addTargetToExternalLinks: true
            }
          }"
          [editor]="Editor"
          formControlName="name"
          (ready)="onReady($event)"
        >
        </ckeditor>
        <button mat-icon-button style="background: #ffffff !important" (click)="openVoiceRecog()" class="margin-right-button btn-mic">
          <mat-icon class="mic-style" style="font-size: 23px">keyboard_voice</mat-icon>
        </button>
      </div>
      <!-- <mat-form-field class="full-wid">
          <input matInput required formControlName="name" type="text" placeholder="{{ 'EVAL_BY_EXPERTISE.Please Enter Criteria of Evaluation Name' | translate }}"/>
          <mat-error>
            <p *ngIf="evaluationForm.get('name').hasError('required')">
              {{ 'EVAL_BY_EXPERTISE.This field is required' | translate }}
            </p>
          </mat-error>
        </mat-form-field> -->
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div style="text-align: right">
    <button mat-button mat-raised-button (click)="save()" color="primary" [disabled]="evaluationForm.invalid">
      {{ (data && data.type && data.type === 'add' ? 'Add' : 'Edit') | translate }}
    </button>
    <button mat-button mat-raised-button mat-dialog-close color="warn">{{ 'Cancel' | translate }}</button>
  </div>
</mat-dialog-actions>
