@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.form-field {
  margin-top: 6px;
}
.width-size {
  width: 300px;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}

:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      padding-left: 0.3rem !important;
      padding-right: 0.3rem !important;
      &:nth-child(1) {
        width: 30%;
        text-align: center;
        cursor: default;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(2) {
        width: 25%;
        text-align: center;
        cursor: default;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
        .mat-form-field {
          width: 80%;
        }
      }
      &:nth-child(3) {
        width: 25%;
        text-align: center;
        cursor: default;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: black;
      }

      &:nth-child(4) {
        width: 20%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: black;
      }
    }
    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      color: black;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      text-align: center;

      .mat-form-field-infix {
        width: unset !important;
      }
    }
    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}

.action-header-column {
  padding: 7px 0px 9px 10px !important;
  vertical-align: middle !important;
  padding-right: 0 !important;
}

.horizontal {
  overflow: auto;
}
.aligmnment {
  text-align: right;
  padding-right: 0;
}

.gaping {
  padding-top: 6px;
}

.hide {
  display: none;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.display-inline {
  display: inline;
}

:host::ng-deep.ng-select .ng-select-container {
  background-color: transparent !important;
  color: #fff;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid #fff !important;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
}
:host::ng-deep.mat-select-arrow-wrapper {
  padding-right: 5px;
}
:host::ng-deep.mat-select-value-text {
  margin-left: 10px;
  font-size: 13px;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  width: 100%;
}
