.button-group {
  mat-icon {
    margin-right: 6px !important;
  }
  margin-top: 10px;
  margin-right: 6px;
  text-align: end;
  padding-bottom: 10px;
}

.header-icon {
  font-size: 1.5em;
  margin-right: 10px;
}

.titleCrossCorrection {
  position: relative;
  bottom: 7px;
}

.svg-h3-icon {
  vertical-align: text-bottom;
}